@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0F172A;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
